<!DOCTYPE HTML>
<html>

<head>
    <title>秋名山车队后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="{:C('CSS_URL')}bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{:C('CSS_URL')}style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="{:C('CSS_URL')}font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="{:C('JS_URL')}jquery-1.11.1.min.js"></script>
    <script src="{:C('JS_URL')}modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
        type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="{:C('CSS_URL')}animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="{:C('JS_URL')}wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="{:C('JS_URL')}metisMenu.min.js"></script>
    <script src="{:C('JS_URL')}custom.js"></script>
    <link href="{:C('CSS_URL')}custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>

<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <include file="./Application/Admin/View/View/navi.html" />
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <include file="./Application/Admin/View/View/header.html" />
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
                <div class="tables">

                    <h3 class="title1">Tables</h3>
                    <div class="panel-body widget-shadow">
                        <a href="{:U('add')}"> <button type="button" class="btn btn-lg btn-success">点我添加属性</button></a>
                        <br><br>
                        <div class="col-sm-3">
                            <select name="" id="select1" class="form-control" required="required">
                                <option value="">所有类型</option>
                                <foreach name="type" item="vv">
                                <option value="{$vv['type_id']}">{$vv['type_name']}</option>
                                </foreach>
                            </select>
                        </div>
                        <br><br>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>名称</th>
                                    <th>所属类型</th>
                                    <th>是否可选</th>
                                    <th>录入方式</th>
                                    <th>可选值列表</th>
                                    <th>基本操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <foreach name="info" item="v" key="k">
                                    <tr>
                                        <th scope="row">{$k+1}</th>
                                        <td>{$v.attr_name}</td>
                                        <td>{$v.type_name}</td>
                                        <td>{$v.attr_sel}</td>
                                        <td>{$v.attr_write}</td>
                                        <td>{$v.attr_vals}</td>
                                        <td>
                                            <a href="">编辑</a> | <a href="">删除</a>
                                        </td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Application/Admin/View/View/footer.html" />
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="{:C('JS_URL')}classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--scrolling js-->
    <script src="{:C('JS_URL')}jquery.nicescroll.js"></script>
    <script src="{:C('JS_URL')}scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="{:C('JS_URL')}bootstrap.js"></script>
</body>

</html>

<!--又要开始ajax模式了-->
<script>
        $("#select1").change(function (e) {
            e.preventDefault();
            var index = layer.load(0, { shade: false }); //0代表加载的风格，支持0-2
            var type_id = $("#select1").val();
            $.ajax({
                type: "post",
                url: "{:U('showlist')}",
                data: "type_id=" + type_id,
                dataType: "json",
                success: function (msg) {
                    if (msg["status"] == "200") {
                        layer.closeAll("loading");
                        console.log(msg["info"]);
                        $("tbody").html(getString(msg["info"]));
                    }
                }
            });
        });

        function getString(data) {
            var s = "";
            for (var index = 0; index < data.length; index++) {
                var v = data[index];
                s += "<tr>";
                s += "<th scope  = 'row'>" + (index + 1) + "</th>";
                s += "<td>" + v["attr_name"] + "</td>";
                s += "<td>" + v["type_name"] + "</td>";
                s += "<td>" + v["attr_sel"] + "</td>";
                s += "<td>" + v["attr_write"] + "</td>";
                s += "<td>" + v["attr_vals"] + "</td>";
                s += "<td>";
                s += "  <a href = ''>编辑</a> | <a href = ''>删除</a>";
                s += "</td>";
                s += "</tr>";
            }
            return s;
        }

</script>