<!DOCTYPE HTML>
<html>

<head>
    <title>Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="{:C('CSS_URL')}bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{:C('CSS_URL')}style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="{:C('CSS_URL')}font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="{:C('JS_URL')}jquery-1.11.1.min.js"></script>
    <script src="{:C('JS_URL')}modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
        type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="{:C('CSS_URL')}animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="{:C('JS_URL')}wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="{:C('JS_URL')}metisMenu.min.js"></script>
    <script src="{:C('JS_URL')}custom.js"></script>
    <link href="{:C('CSS_URL')}custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>

<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <include file="./Application/Admin/View/View/navi.html" />
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <include file="./Application/Admin/View/View/header.html" />
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
                <div class="tables">
                    <h3 class="title1">编辑管理员</h3>
                    <div class="panel-body widget-shadow">
                        <h4>{$info.mg_name}的信息:</h4>
                        <form class="form-horizontal" action="" method="post" onsubmit="return isTrue()">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>键</th>
                                        <th>值</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">权限名</th>
                                        <td><input type="text" class="form-control1" id="focusedinput" name="auth_name" placeholder="6位以内的中文" required>                                            </td>
                                        <td id="focusedinput_td">权限的名字</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">父级权限</th>
                                        <td><select name="auth_pid" id="selector" class="form-control1">
                                                <option value="0" >顶级权限</option>
                                    <foreach name="authAA" item="v">
                                        <!--<neq name="v['role_id']" value="1">-->
										    <option value="{$v['auth_id']}" >{$v.auth_name}</option>
                                        <!--</neq>-->
                                        </foreach>
									</select></td>
                                        <td>父级权限，决定该权限属于哪个分类，暂时只开放顶级权限和二级权限的添加</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">权限路由-控制器</th>
                                        <td><input type="text" class="form-control1" id="inputPassword1" disabled name="auth_c" >                                            </td>
                                        <td id="inputPassword_td1">权限路由，填写控制器的名称，首字母大写，半角英文</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">权限路由-方法</th>
                                        <td><input type="text" class="form-control1" id="inputPassword2" disabled name="auth_a" >                                            </td>
                                        <td id="inputPassword_td1">权限路由，填写方法的名称，半角英文</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-large btn-block btn-default">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Application/Admin/View/View/footer.html" />
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="{:C('JS_URL')}classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--scrolling js-->
    <script src="{:C('JS_URL')}jquery.nicescroll.js"></script>
    <script src="{:C('JS_URL')}scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="{:C('JS_URL')}bootstrap.js"></script>
</body>

</html>


<script>
     
    //  判断选择，只有选择一级分类的时候才能书写路由
$("#selector").change(function (e) { 
    e.preventDefault();

    if($("#selector").val() == 0)
    {
        $("#inputPassword1").attr("disabled", "disabled");
        $("#inputPassword2").attr("disabled", "disabled"); 
    }
    else
    {
       
        $("#inputPassword1").removeAttr("disabled");
        $("#inputPassword2").removeAttr("disabled");
    }
});


</script>