<!DOCTYPE HTML>
<html>

<head>
    <title>Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="{:C('CSS_URL')}bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{:C('CSS_URL')}style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="{:C('CSS_URL')}font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="{:C('JS_URL')}jquery-1.11.1.min.js"></script>
    <script src="{:C('JS_URL')}modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
        type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="{:C('CSS_URL')}animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="{:C('JS_URL')}wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="{:C('JS_URL')}metisMenu.min.js"></script>
    <script src="{:C('JS_URL')}custom.js"></script>
    <link href="{:C('CSS_URL')}custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>

<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <include file="./Application/Admin/View/View/navi.html" />
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <include file="./Application/Admin/View/View/header.html" />
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
                <div class="tables">
                    <h3 class="title1">编辑管理员</h3>
                    <div class="panel-body widget-shadow">
                        <h4>{$info.mg_name}的信息:</h4>
                        <form class="form-horizontal" action="{:U('add')}" method="post" >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>键</th>
                                        <th>值</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">大会员等级名称</th>
                                        <td><input type="text" class="form-control1" id="focusedinput" name="level_name" >                                            </td>
                                        <td id="focusedinput_td">会员等级名</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">大会员商品折扣</th>
                                        <td><input type="number" class="form-control1" id="level_rate" name="level_rate" >                                            </td>
                                        <td id="inputPassword_td1">1-100的整数，95代表9.5折</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">大会员积分下限</th>
                                        <td><input type="number" class="form-control1" name="jifen_bottom" id="jifen_bottom"  ></td>
                                        <td id="inputPassword_td2">达到该等级所需的积分</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">大会员积分上线</th>
                                        <td><input type="number" class="form-control1" id="jifen_top" name="jifen_top" ></td>
                                        <td id="inputPassword_td2">突破该等级所需的积分</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-large btn-block btn-default">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Application/Admin/View/View/footer.html" />
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="{:C('JS_URL')}classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--scrolling js-->
    <script src="{:C('JS_URL')}jquery.nicescroll.js"></script>
    <script src="{:C('JS_URL')}scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="{:C('JS_URL')}bootstrap.js"></script>
</body>

</html>


<script>
        var flag_name = true;
        var flag_pwd = true;

        // 用户名的判断，这里使用ajax请求去服务器判断是否存在
        $("#focusedinput").blur(function (e) {
            e.preventDefault();
            $.ajax({
                type: "post",
                url: "{:U('checkName')}",
                data: "mg_name=" + $("#focusedinput").val(),
                dataType: "json",
                success: function (msg) {
                    if (msg["status"] == 202) {
                        $("#focusedinput_td").html("<font color='red'>该用户名已存在<font>");
                        flag_name = false;
                    }
                    else {
                        $("#focusedinput_td").html("<font color='blue'>该用户名可以使用<font>");
                        flag_name = true;
                    }
                }
            });
        });

function isTrue() {
    return flag_name && flag_pwd;
}

</script>